/* 
    ############################################################
    ################## HTML Elements Style #####################
    ############################################################

*/
body {
    /* HTML Body Style */
    background-image: url(../assets/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
}

header {
    /* Header Style */
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header h1 {
    /* Header H1 Style */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 85%;
    font-family: Lato;
    font-size: 60px;
    font-weight: 600;

}

tr {
    /* Table Row Style */
    border-radius: 100px;
    width: 100%;
    font-size: 35px !important;

}

th {
    /* Table Header Style */
    width: 100%;
    text-align: center;
    height: 100%;
    font-size: 70px !important;
    font-weight: bold !important;
    padding: 10px;

}

td {
    /* Table Data Style */
    text-align: center;
    padding: 10px;
}

footer div {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

/* TAB Styles - Acts as blank spaces. */

.tab-40 {
    display: inline-block;
    margin-left: 40px;
    padding-left: 40px;
}

.tab-82 {
    display: inline-block;
    margin-left: 82px;
}

.tab-130 {
    display: inline-block;
    margin-left: 140px;
}

.tab-200 {
    display: inline-block;
    margin-left: 200px;
}

.md-52 {
    /* Increase font size of nav-bar hamburger icon. */
    font-size: 40px !important;
}

.rm-url {
    /* Remove URL default styles. */
    text-decoration: none;
    color: black;
}

.form-font {
    /* Form font styling being used for the website. */
    font-family: Lato;
    font-size: 30px;
    font-weight: 600;
}

.form-font-requirements {
    /* Form font styling being used for the website. */
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
}

.form-input {
    /* Form input styling, login and register. */
    color: gray;
    padding: 10px 30px;
    font-size: 20px;
    font-style: light;
    font-family: Lato;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid #ccc;
}

.text-box {
    /* Text box styling being used for the website. */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 70%;
    padding-left: 2%;
    padding-right: 0%;
}


.nav-tetris-logo-position img {
    /* Positioning of the logo on the nav-bar. */
    width: 300px;
    height: 10%;
    object-fit: cover;
    object-position: center;
}

.main-container {
    /* Main container that would englobe the whole website on each page. */
    display: flex;
    flex-direction: column;
    padding-left: 3%;

}

.nav-bar {
    /* Nav-bar styling. */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.nav-home {
    /* Nav-bar for the home page style. */
    color: rgba(0, 0, 0, 1);
    font-size: 38px;
    font-style: Light;
    text-align: left;
    font-family: Lato;
    font-weight: 600;
}

.nav-home:hover {
    color: red;
}

.main-page-body-font {
    /* Main page body font style. */
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: relative;
    font-size: 60px;
    align-self: auto;
    font-style: light;
    text-align: center;
    font-family: Lato;
    font-weight: 600;
}

.main-welcome-text {
    /* Main welcome text positioning. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.main-page-play-button {
    /* Main page play button styling. */
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 50px;
    font-size: 50px;
    font-style: light;
    font-family: Lato;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
}

.footer-button-down {
    /* Footer button facing down positioninig. */
    padding-right: 10%;
}

.context-body {
    /* Context body for the main page styling. */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 9%;
    padding-bottom: 5%;
}

.context-body-about {
    /* Context body about page styling. */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 2%;
    padding-left: 5%;
}



.tetris-logo-main {
    width: 10%;
}

.nav-bar-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 2%;
    padding-left: 0%;
}

.nav-bar-icon-02 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 2%;
    padding-left: 9%;
    padding-top: 2%;
}

.menu-icon-btn {
    text-decoration: none;
    color: black;
    max-width: fit-content;
}



/* 
    ##############################################
    ###### Login & Register PAGE STYLING  ########
    ##############################################

*/

.register-button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 30px;
    font-size: 30px;
    font-style: light;
    font-family: Lato;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
}

.login-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 40%;
    padding-left: 30%;
}

.login-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10%;
}

.register-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10%;
    padding-top: 3%;
}

.register-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.right-tab {
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: flex-end;
    width: 100%;
    padding-right: 10%;
}

/* 
    ##############################################
    ####### SCOREBOARD PAGE STYLING  ############
    ##############################################

*/
.context-body-scoreboard {
    /* Context body scoreboard page styling. */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 8%;
}

.scoreboard-board {
    display: flex;
    background-color: rgb(237, 237, 237);
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 2%;
    padding-bottom: 2%;
    width: 30%;
    border-radius: 50px;
    margin-right: 10%;
}

.scoreboard-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 0%;
    width: 100%;
    border-radius: 25%;
    margin: 0%;
}


/* 
    ##############################################
    ########## GAME PAGE STYLING  ###############
    ##############################################

*/

.context-body-game {
    /* Context body game page styling. */
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 1%;
    padding-bottom: 3%;
    width: 100%;
}

.context-body-game-col {
    /* Context body game page column styling. */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 0%;
    padding-right: 5%;
    width: 100%;
}

.game-btn-style {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 20px 40px;
    font-size: 40px;
    font-style: light;
    font-family: Lato;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
    margin-top: 70%;
    margin-left: 40%;
}

.game-btn-style-01 {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 20px 40px;
    font-size: 20px;
    font-style: light;
    font-family: Lato;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
    margin-right: 50%;
}

.game-btn-text-style {
    margin-right: 50%;
    margin-top: 15%;
    max-width: fit-content;
}

.game-reset-start-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-area {
    background-color: rgb(239, 239, 239);
    padding: 40px 20px;
    height: 650px;
    width: 800px;
    display: inline-block;
    margin: 10px 100px;
    cursor: pointer;
    border: none;
    border-radius: 100px;
}

/*
    ##############################################
    ########## Button Animatons   ################
    ##############################################

*/

.nav-home a:hover {
    /* Home full nav hover animation. */
    transition: 0.5s;
    color: rgb(129, 53, 79);
    text-shadow: 0 0 10px rgb(198, 49, 99), 0 0 20px rgb(198, 49, 99), 0 0 40px rgb(198, 49, 99), 0 0 80px;
}

.main-welcome-text div:hover {
    /* Main welcome text hover effect. */
    transition: 0.5s;
    color: rgb(195, 101, 38);
    text-shadow: 0 0 10px rgb(195, 101, 38), 0 0 20px rgb(195, 101, 38), 0 0 40px rgb(195, 101, 38), 0 0 80px;
}

.main-page-play-button a:hover {
    /* Main page play button hover effect. */
    transition: 0.5s;
    color: rgb(210, 34, 34);
    text-shadow: 0 0 10px rgb(210, 34, 34), 0 0 20px rgb(210, 34, 34), 0 0 40px rgb(210, 34, 34), 0 0 80px;
}

h1:hover {
    transition: 0.5s;
    color: rgb(195, 101, 38);
    text-shadow: 0 0 10px rgb(195, 101, 38), 0 0 20px rgb(195, 101, 38), 0 0 40px rgb(195, 101, 38), 0 0 80px;
}

.nav-bar-icon-02 a:hover {
    transition: 0.5s;
    color: rgb(195, 101, 38);
    text-shadow: 0 0 10px rgb(195, 101, 38), 0 0 20px rgb(195, 101, 38), 0 0 40px rgb(195, 101, 38), 0 0 80px;
}


input:not([type="submit"]):valid {
    border-color: rgb(0, 255, 0);
}

input:not([type="submit"]):invalid {
    border-color: red;
}

input:not([type="submit"])+.input-requirements {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

input:not([type="submit"]):focus+.input-requirements,
input:not([type="submit"]):hover+.input-requirements,
input:not([type="submit"]):active+.input-requirements {
    max-height: 1000px;
    transition: max-height 1s ease-in;
}