body {
    background-image: url(../assets/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
}

header {
    max-width: 100%;
}

header h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    font-family: Lato;
    font-size: 60px;
    font-weight: 600;
}

tr {
    border-radius: 100px;
    width: 100%;
    font-size: 35px !important;

}

th {
    width: 100%;
    text-align: center;
    height: 100%;
    font-size: 70px !important;
    font-weight: bold !important;
    padding: 10px;

}

td {
    text-align: center;
    padding: 10px;
}

.tetris-nav-tetris-logo-position img {
    width: 300px;
    height: 10%;
    object-fit: cover;
    object-position: center;
}

.nav-home {
    color: rgba(0, 0, 0, 1);
    font-size: 38px;
    font-style: Light;
    text-align: left;
    font-family: Lato;
    font-weight: 600;
}

.main-page-body-content-01 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: relative;
    font-size: 60px;
    align-self: auto;
    font-style: light;
    text-align: center;
    font-family: Lato;
    font-weight: 600;
}

.main-page-body-content-02 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: relative;
    font-size: 60px;
    align-self: auto;
    font-style: light;
    text-align: center;
    font-family: Lato;
    font-weight: 600;
}

.main-page-play-button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 50px;
    font-size: 50px;
    font-style: light;
    font-family: Lato;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
}

.footer-button-down {
    padding-right: 10%;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.context-body {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 9%;
    padding-bottom: 5%;
}

.context-body-about {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 2%;
    padding-left: 5%;
}

.context-body-scoreboard {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 8%;
}

.context-body-game {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 1%;
    padding-bottom: 3%;
    width: 100%;
}

.context-body-game-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 0%;
    padding-right: 5%;
    width: 100%;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.tetris-logo-main {
    width: 10%;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.nav-bar-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 2%;
    padding-left: 0%;
}

.nav-bar-icon-02 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 2%;
    padding-left: 9%;
}

.md-52 {
    font-size: 40px !important;
}

.menu-icon-btn {
    text-decoration: none;
    color: black;
    max-width: fit-content;
}


.rm-url {
    text-decoration: none;
    color: black;
}

.form-font {
    font-family: Lato;
    font-size: 27px;
    font-weight: 600;
}

.register-button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 30px;
    font-size: 30px;
    font-style: light;
    font-family: Lato;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
}

.login-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 40%;
    padding-left: 20%;
}

.login-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10%;
}

.register-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3%;
}

.register-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tab-40 {
    display: inline-block;
    margin-left: 40px;
}

.tab-80 {
    display: inline-block;
    margin-left: 80px;
}

.tab-130 {
    display: inline-block;
    margin-left: 140px;
}

.tab-180 {
    display: inline-block;
    margin-left: 180px;
}

.form-input {
    color: gray;
    padding: 10px 30px;
    font-size: 20px;
    font-style: light;
    font-family: Lato;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
}

.text-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 70%;
    padding-left: 2%;
    padding-right: 0%;
}

.scoreboard-board {
    display: flex;
    background-color: rgb(237, 237, 237);
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 2%;
    padding-bottom: 2%;
    width: 30%;
    border-radius: 50px;
    margin-right: 10%;
}



.scoreboard-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 0%;
    width: 100%;
    border-radius: 25%;
    margin: 0%;
}

/* .nav-bar-icon-game {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80%;
    margin-left: 40%;
    padding-left: 30%;
} */

.game-btn-style {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 20px 40px;
    font-size: 40px;
    font-style: light;
    font-family: Lato;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
    margin-top: 70%;
    margin-left: 40%;
}

.game-btn-style-01 {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 20px 40px;
    font-size: 20px;
    font-style: light;
    font-family: Lato;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
    margin-right: 50%;
}

.game-btn-text-style {
    margin-right: 50%;
    margin-top: 15%;
    max-width: fit-content;
}

.game-reset-start-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-area {
    background-color: rgb(239, 239, 239);
    padding: 40px 20px;
    height: 500px;
    width: 800px;
    display: inline-block;
    margin: 10px 100px;
    cursor: pointer;
    border: none;
    border-radius: 100px;
}